<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="./assets/css/style.css"> <!--always put this line after fonts because of how things load-->
        
        <title>Rock-Paper-Scissors with Vue</title>
    </head>
    <body>
        <div id="app">
            <header>
                <h1>Rock-Paper-Scissors with Vue</h1>
            </header>
            <main>
                <ul>
                    <!-- RENDERING USING THE INSTANCE ARRAY -->
                    <li :id="tool" v-for="tool in tools" :key="tool"><button v-on:click="playGame(tool)">{{ tool }}</button></li>
                    <!-- note that, in the line above, ':id="tool"' binds (because ':id' is short for 'v-bind:id') the Vue template (i.e., this HTML) and the Vue instance (i.e., the VueJS in app.js) so that each of the three <li> is given the id of 'rock', 'paper', and 'scissors' in the order each of these appear in the 'tools' array in the Vue instance -->

                    <!-- RENDERING USING THE INSTANCE OBJECT'S KEYS (just FYI because not using for this project)-->
                    <!-- <li id="rule" v-for="rule in Object.keys(rules)" :key="rule"><button v-on:click="playGame(rule)">{{ rule }}</button></li> -->
                </ul>
                <p id="result">{{ message }}</p>
                <p id="user-choice">Your pick: {{ userChoice }}</p>
                <p id="computer-choice">Computer's pick: {{ computerChoice }}</p>
            </main>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="./assets/js/app.js"></script>
    </body>
</html>